<%- include('./partials/cStart.ejs') %>
    <div class="container pb-5">
        <div class="row g-4" id="blog-grid">
        </div>
        <div class="row g-4 my-4">
            <% blogs.map((blog)=> { %>
                <div class="col-md-4">
                    <div class="card hover-card">
                        <img src="/<%= blog.file %>" class="blog-img" alt="<%= blog.name %>">
                        <div class="card-body d-flex flex-column">
                            <div class="mb-2">
                                <% blog.tags.split(',').forEach(tag => { %>
                                    <span class="badge bg-primary bg-opacity-10 text-primary">
                                        <%= tag.trim() %>
                                    </span>   
                                <% }) %>
                                <span class=" text-muted small ms-2">
                                    <%= blog.createdAt ? blog.createdAt.toDateString() : "" %>
                                </span>
                            </div>
                            <h5 class="card-title fw-bold">
                                <%= blog.name %>
                            </h5>
                            <p class="card-text text-secondary small blog-desc" data-full="<%= blog.desc %>" >
                                <%= blog.desc.length> 120 ? blog.desc.slice(0,180) : blog.desc %>
                            </p>
                            <button class="btn btn-outline-dark rounded-pill mt-3 w-100 read-toggle">
                                Read More <i class="fa-solid fa-arrow-down ms-1"></i>
                            </button>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
    <%- include('./partials/cEnd.ejs') %>